{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/about.css') }}" />
{% endblock %}
    {% block header %}
        <h1>Kilka słów o Nas</h1>
    {% endblock %}
{% block body %}

    <main>
        <div class="route"><br></div>
        <div class="container">
            <p><b>Stowarzyszenie na Rzecz Wychowanków Zespołu Szkół Specjalnych w Ostrowcu Świętokrzyskim „Źródło”</b></p>
            <p>Celem stowarzyszenia jest działanie na rzecz wyrównywania szans dzieci i młodzieży z niepełnosprawnością intelektualną, prowadzenie ich ku aktywnemu uczestnictwu w życiu społecznym oraz wspieranie ich rodzin.</p>
            <p>Stowarzyszenie realizuje wskazany cel poprzez: </p>
            <ol>
                <li>organizowanie różnych form zajęć umożliwiających dzieciom uczestnictwo, rozwój i organizację sportu, rekreację, rehabilitację ruchową ,turystykę i inne formy mające wpływ na popularyzację i doskonalenie sprawności fizycznych i psychofizycznych</li>
                <li>zajęcia terapeutyczne indywidualne i zbiorowe,</li>
                <li>inicjowanie i organizowanie spotkań rodziców w celu wymiany doświadczeń i wsparcia emocjonalnego,</li>
                <li>zapewnienie dzieciom aktywnych form spędzania wolnego czasu,</li>
                <li>podejmowanie działań proekologicznych i promujących zdrowy styl życia, organizacja edukacji ekologicznej i regionalnej,</li>
                <li>prowadzenie działalności gospodarczej w różnorodnych formach organizacyjnych umożliwiających zdobycie środków na realizację celów statutowych,</li>
                <li>prowadzenie działalności charytatywnej,</li>
                <li>współpracę z administracją samorządową i rządową, organizacjami pozarządowymi i społecznością lokalną, kościołem katolickim a także innymi instytucjami pomocy społecznej,</li>
                <li>pozyskiwanie i gromadzenie środków materialnych i finansowych na realizację zadań Stowarzyszenia,</li>
                <li>inne działania sprzyjające realizacji statutowych celów Stowarzyszenia.</li>
            </ol>
            <div class="images">
                <img src={{ asset("assets/images/o_nas_trip.jpg") }} >
                <img src={{ asset("assets/images/o_nas_trip2.jpg") }}>
            </div>
            <br><p><b>Zarząd: </b></p>
            <ol>
                <li>prezes : Ewa Grudniewska</li>
                <li>wiceprezes : Ewa Ciastek</li>
                <li>sekretarz : Małgorzata Stramowska</li>
                <li>skarbnik : Ernest Krajewski</li>
                <li>członkowie:  Małgorzata Czyż, Justyna Wołowiec, Elżbieta Wypchło</li>
            </ol>
            <br><p><b>Komisja Rewizyjna: </b></p>
            <ol>
                <li>Agnieszka Wziątek-Dryjas</li>
                <li>Anna Polit</li>
                <li>Aneta Stawczyk</li>
            </ol>
            <div class="statut">
                <h2> ROK 2009 - STATUT STOWARZYSZENIA </h2>
                <hr>
                <h3>Statut</h3>
                <h3>Stowarzyszenia na Rzecz</h3>
                <h3>Wychowanków Zespołu Szkół Specjalnych</h3>
                <h3>w Ostrowcu Świętokrzyskim</h3>
                <h3>"Źródło"</h3>
                <button class="btn btn-yellow"><a target="_blank" href={{ asset('assets/additions/Statut_2009.pdf') }}>Czytaj więcej</a></button>
            </div>
        </div>
    </main>
{% endblock %}