{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({{asset('assets/images/bg.jpg')}});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Skontaktuj się z nami</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info justify-content-center">
                <div class="col-md-3 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Adres</h3>
                        <p>Iłżecka 31, 27-400 Ostrowiec Świętokrzyski</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Contact Number</h3>
                        <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Address Email</h3>
                        <p><a href="mailto:info@yoursite.com">zrodlo@wp.pl</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">KRS</h3>
                        <p><a href="#">0000309966</a></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex mb-5 contact-info justify-content-center">
                <div class="col-md-4 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Strona ZSS</h3>
                        <p><a href="https://zssostrowiec.edupage.org/">https://zssostrowiec.edupage.org/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
